###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Symfony related
/.env
/.env.prod.local
/.env.test.local
/var/cache/*
/var/log/*
/var/sessions/*
/var/storage/*
/var/tmp/*
/config/secrets/*
/config/jwt/*
/config/packages/dev/*
/config/packages/test/*
/config/packages/prod/*
/public/bundles/*
/public/assets/*
/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editor-related
/.idea
/.vscode
*.swp

# Composer related
/composer.phar

# PHPUnit cache
/.phpunit.result.cache
/.phpunit.cache

# Symfony app build files
/public/build/*
/var/*
